In [10]:
# Import Dependencies
import pandas as pd
# import json

In [11]:
movies_csv = "movies_metadata.csv"
#dash_csv = "Resources/dash_price.csv"

In [12]:
movies_df = pd.read_csv(movies_csv)
movies_dataprep = movies_df[['genres', 'budget', 'id', 'original_title', 'popularity', 
                            'production_companies', 'release_date', 'revenue', 'status']].copy()
movies_dataprep.head()

C:\Users\naras\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,genres,budget,id,original_title,popularity,production_companies,release_date,revenue,status
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",30000000,862,Toy Story,21.9469,"[{'name': 'Pixar Animation Studios', 'id': 3}]",10/30/1995,373554033.0,Released
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",65000000,8844,Jumanji,17.0155,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",12/15/1995,262797249.0,Released
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",0,15602,Grumpier Old Men,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",12/22/1995,0.0,Released
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",16000000,31357,Waiting to Exhale,3.85949,[{'name': 'Twentieth Century Fox Film Corporat...,12/22/1995,81452156.0,Released
4,"[{'id': 35, 'name': 'Comedy'}]",0,11862,Father of the Bride Part II,8.38752,"[{'name': 'Sandollar Productions', 'id': 5842}...",2/10/1995,76578911.0,Released

In [17]:
budget = []
genres = []
movie_id = []
orig_title = []
popularity = []
production_companies = []
release_date = []
revenue = []
status = []

for idx, rows in movies_dataprep.iterrows():
# orig_title = original_title
    genres_dict = eval(rows['genres'])
    for i in range(len(genres_dict)):
        budget.append(rows.budget)
        movie_id.append(rows.id)
        orig_title.append(rows.original_title)
        popularity.append(rows.popularity)
        production_companies.append(rows.production_companies)
        release_date.append(rows.release_date)
        revenue.append(rows.revenue)
        status.append(rows.status)
        try:
            genres.append(genres_dict[i]['name'])
        except:
#             print(rows)
            genres.append("n/a")
            break
    
movies_genres_unstacked = pd.DataFrame({"genres": genres, "movie_id": movie_id, "budget": budget, 
                                     "original_title": orig_title, "popularity": popularity, 
                                      "production_companies" : production_companies, 
                                       "release_date": release_date, "revenue":revenue, 
                                       "status":status})
movies_genres_unstacked.head()

,genres,movie_id,budget,original_title,popularity,production_companies,release_date,revenue,status
0,Animation,862,30000000,Toy Story,21.9469,"[{'name': 'Pixar Animation Studios', 'id': 3}]",10/30/1995,373554033.0,Released
1,Comedy,862,30000000,Toy Story,21.9469,"[{'name': 'Pixar Animation Studios', 'id': 3}]",10/30/1995,373554033.0,Released
2,Family,862,30000000,Toy Story,21.9469,"[{'name': 'Pixar Animation Studios', 'id': 3}]",10/30/1995,373554033.0,Released
3,Adventure,8844,65000000,Jumanji,17.0155,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",12/15/1995,262797249.0,Released
4,Fantasy,8844,65000000,Jumanji,17.0155,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",12/15/1995,262797249.0,Released

In [16]:
budget = []
genres = []
movie_id = []
orig_title = []
popularity = []
production_companies = []
release_date = []
revenue = []
status = []

for idx, rows in movies_genres_unstacked.iterrows():
#     print(rows)
#     budget = rows.budget
#     movie_id = rows.id
#     orig_title = original_title
#     print(rows['production_companies'])
    try:
        production_companies_dict = eval(rows['production_companies'])
    except:
        production_companies_dict = []
    for i in range(len(production_companies_dict)):
        genres.append(rows.genres)
        budget.append(rows.budget)
        movie_id.append(rows.movie_id)
        orig_title.append(rows.original_title)
        popularity.append(rows.popularity)
        release_date.append(rows.release_date)
        revenue.append(rows.revenue)
        status.append(rows.status)
        try:
            production_companies.append(production_companies_dict[i]['name'])
        except:
#             print(rows)
            production_companies.append("n/a")
            break
    
movies_final = pd.DataFrame({"genres": genres, "movie_id": movie_id, "budget": budget, 
                                     "original_title": orig_title, "popularity": popularity, 
                                      "production_companies" : production_companies, 
                                       "release_date": release_date, "revenue":revenue, 
                                       "status":status})
movies_final.head()

,genres,movie_id,budget,original_title,popularity,production_companies,release_date,revenue,status
0,Animation,862,30000000,Toy Story,21.9469,Pixar Animation Studios,10/30/1995,373554033.0,Released
1,Comedy,862,30000000,Toy Story,21.9469,Pixar Animation Studios,10/30/1995,373554033.0,Released
2,Family,862,30000000,Toy Story,21.9469,Pixar Animation Studios,10/30/1995,373554033.0,Released
3,Adventure,8844,65000000,Jumanji,17.0155,TriStar Pictures,12/15/1995,262797249.0,Released
4,Adventure,8844,65000000,Jumanji,17.0155,Teitler Film,12/15/1995,262797249.0,Released

In [18]:
movies_final.to_csv('movies_final.csv', index=False)

In [ ]:
json_columns = ['belongs_to_collection', 'genres', 'production_companies', 'production_countries', 'spoken_languages']
for column in json_columns:
    # use ast because json data has single quotes in the csv, which is invalid for a json object; it should be " normally
    df[column] = df[column].apply(lambda x: np.nan if pd.isnull(x) else ast.literal_eval(x))

In [ ]:
tmp[3]

In [ ]:
bitcoin_df.head()

In [ ]:
dash_df.head()

In [ ]:
# Merge the two DataFrames together based on the Dates they share
crypto_df = pd.merge(bitcoin_df, dash_df, on="Date")
crypto_df.head()

In [ ]:
# Rename columns so that they are differentiated
crypto_df = crypto_df.rename(columns={"Open_x": "Bitcoin Open", "High_x": "Bitcoin High", "Low_x": "Bitcoin Low",
                                      "Close_x": "Bitcoin Close", "Volume_x": "Bitcoin Volume", "Market Cap_x": "Bitcoin Market Cap"})

crypto_df = crypto_df.rename(columns={"Open_y": "Dash Open", "High_y": "Dash High", "Low_y": "Dash Low",
                                      "Close_y": "Dash Close", "Volume_y": "Dash Volume", "Market Cap_y": "Dash Market Cap"})

crypto_df.head()

In [ ]:
# alternatively you can set your suffixes when the merge occurs
alternative_merge = pd.merge(
    bitcoin_df, dash_df, on="Date", suffixes=("_Bitcoin", "_Dash"))
alternative_merge.head()

In [ ]:
# Collecting best open for Bitcoin and Dash
bitcoin_open = crypto_df["Bitcoin Open"].max()
dash_open = crypto_df["Dash Open"].max()

# Collecting best close for Bitcoin and Dash
bitcoin_close = crypto_df["Bitcoin Close"].max()
dash_close = crypto_df["Dash Close"].max()

# Collecting the total volume for Bitcoin and Dash
bitcoin_volume = round(crypto_df["Bitcoin Volume"].sum()/1000000, 2)
dash_volume = round(crypto_df["Dash Volume"].sum()/1000000, 2)

In [ ]:
# Creating a summary DataFrame using above values
summary_df = pd.DataFrame({"Best Bitcoin Open": [bitcoin_open],
                           "Best Bitcoin Close": [bitcoin_close],
                           "Total Bitcoin Volume": str(bitcoin_volume)+" million",
                           "Best Dash Open": [dash_open],
                           "Best Dash Close": [dash_close],
                           "Total Dash Volume": str(dash_volume)+" million"})

summary_df